{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped" style="background-color:white;">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for row in data %}
                <tr>
                    <td>{{ row["Transaction"] }}</td>
                    <td>{{ row["Symbol"] }}</td>
                    <td>{{ row["Shares"] }}</td>
                    <td>${{ row["Price"] }}</td>
                    <td>{{ row["Date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}